[submodule "src/pd/abstractions/flib"]
	path = src/pd/abstractions/flib
	url = https://jrdooley@github.com/jrdooley/flib.git
[submodule "src/libpd"]
	path = src/libpd
	url = https://jrdooley@github.com/libpd/libpd.git
